<template>
<footer class="h-full w-full md:px-5 xl:px-0 bg-gray-800 pt-15 md:pt-16">
        <div class="container">
            <div class="grid grid-cols-1 md:grid-cols-4">

            <div class="logo-outer flex justify-center md:justify-start">
                <picture><a href="#"><img src="@/assets/images/footerlogo_unterberger.svg" alt="Logo"></a></picture>
            </div>

            <address class="w-full  md:pl-15  pt-15 md:pt-0">
                <h6 class="text-white text-sm md:text-h6 text-center md:text-left">ADRESSE</h6>
                <p class="text-white text-center pt-2.5 md:text-left">Unterberger Immobilien GmbH<br> Salurner Straße 38<br> 6330 Kufstein</p>
            </address>
            <div class="w-full pt-15  md:pl-15  md:pt-0">
                <h6 class="text-white text-sm md:text-h6 text-center md:text-left">KONTAKT</h6>
                <p class="text-white text-center pt-2.5 md:text-left">
                    <a class="w-full float-left" href="tel:43537264500 ">+43 5372 64500-0 </a>
                    <a class="w-full float-left underline" href="mailto:info@unterberger-immobilien.cc">info@unterberger-immobilien.cc</a>
                </p>

            </div>
            <div class="w-full flex justify-center md:justify-end flex-row  pt-15 md:pt-0"> 
                <a href="#" class="w-7 mr-4 hover:opacity-70"> 
                    <picture><img src="@/assets/images/facebook_icon.svg" alt="facebook"></picture>
                </a>
                <a href="#" class="w-7 ml-4 hover:opacity-70">
                    <picture><img src="@/assets/images/insta_icon.svg" alt="instagram"></picture>
                </a>
            </div> 
        </div>
            <div class="flex justify-between flex-col-reverse md:flex-row md:pt-4  md:pb-10">
                <div class="font-mono text-white text-center md:text-left pt-12 pb-10 md:pt-0 md:pb-0">
                    &copy; 2020 Unterberger Immobilien GmbH
                </div>
                <div class="pt-6 md:pt-0">
                    <ul class="font-mono flex flex-row justify-center md:justify-end text-white">
                        <li class="px-2.5 order-1"><a href="#">Impressum</a></li>
                        <li class="px-2.5 order-3 md:order-2"><a href="#">Datenschutz</a></li>
                        <li class="px-2.5 order-2 md:order-3 md:pr-0"><a href="#">AGB</a></li>
                    </ul>
                </div> 
            </div>

        </div>
    
    </footer>
</template>
<script>
    export default {
        name: "Footer"
    };
</script>