<template>
  <header class="w-full  bg-white relative z-50">
        <!-- header top block -->
        <div class="top--navlbk bg-bggray py-hp md:px-5 w-full">
            <div class="container flex justify-between">
                <div class="top--navinnerblk flex justify-start text-10 tracking-label">
                    <TopLeft></TopLeft>
                </div> 
                <div class="text-10 tracking-label"> 
                    <div class="right--navblk">
                        <TopRight></TopRight>
                    </div>
                </div> 
            </div>
        </div>
        <!-- header top block -->
        
        <!-- header bottom block -->
        <div class="px-18 md:px-5 w-full bg-white py-6">
            <div class="container flex justify-between"> 
                <div class="logo-block flex justify-center md:justify-start">
                    <picture><router-link to="/" @click="this.$root.toggleBodyClass('removeClass', 'menu--active')"><img src="@/assets/images/logo_unterberger.svg" alt="Logo"></router-link></picture>
                </div>
                <div class="nav--outerblk">
                <ul class="main--navigation">
                    <li><router-link to="/wohnimmobilien" @click="this.$root.toggleBodyClass('removeClass', 'menu--active')">WOHNIMMOBILIEN</router-link></li>
                    <li><router-link to="/wohnimmobilien-detail" @click="this.$root.toggleBodyClass('removeClass', 'menu--active')">GEWERBEIMMOBILIEN</router-link></li>
                    <li><router-link to="/aktuelle-projekte" @click="this.$root.toggleBodyClass('removeClass', 'menu--active')">AKTUELLE PROJEKTE</router-link></li>
                    <li><a v-on:click.stop.prevent href="#">REFERENZEN</a></li>
                    <li><a v-on:click.stop.prevent href="#">ÜBER UNS</a></li>
                    <li><a v-on:click.stop.prevent href="#">KONTAKT</a></li>  
                </ul>
                <!-- icon nav block -->
                <div class="icon--navblk"> 
                    <TopRight></TopRight>
                </div>
                <!-- icon nav block -->

                <!-- top nav block -->
                <div class="top--navblk"> 
                    <TopLeft></TopLeft>
                </div>
                <!-- top nav block -->


            </div>
                <div class="nav-trigger block md:hidden w-7">
                    <a href="#" v-on:click.stop.prevent class="nav-icon w-7 float-left h-7 relative">
                        <img class="w-7 h-7 left-0 absolute  normal"  @click="this.$root.toggleBodyClass('addClass', 'menu--active')" src="@/assets/images/nav_icon.svg" alt="">  
                        <img class="w-7 h-7 left-0 hidden  absolute close" @click="this.$root.toggleBodyClass('removeClass', 'menu--active')" src="@/assets/images/nav_icon_close.svg" alt="">
                    </a>
                </div>

            </div>
        </div>
        <!-- header bottom block --> 
    </header>
</template>

<script>
import TopLeft from '@/components/includes/partials/TopLeft.vue';
import TopRight from '@/components/includes/partials/TopRight.vue';
export default {
    name: "Header",
    components: {
        TopLeft,
        TopRight
    },
};
</script>
