<template>
  <transition name="fade">
    <div class="modal" v-if="show">
      <div class="modal__backdrop" @click="closeModal()"/>

      <div class="modal__dialog">

        <div class="modal__body">
          <div class="model-outercontainer bg-white flex absolute z-50 shadow-main">
        <div class="left-formblock bg-primary px-5 py-fpb sm:px-fpb sm:py-38 lg:pr-56">
            <h3 class="text-2xl text-white font-serif tracking-hrdspc uppercase pb-4 md:pb-9">Berater kontaktieren</h3>
                    <div class="sm:grid grid-cols-1 sm:grid-cols-2 gap-0 gap-x-0 sm:gap-x-2 md:gap-x-4 lg:gap-x-12 md:gap-y-4"> 
 
                    <div class="single--field pb-2 sm:pb-5">
                        <label>ANREDE *</label> 
                        <div class="selectbox">
                            <select required>
                                <option value="">Bitte wählen</option>
                                <option value="1">Herr / Frau</option>
                                <option value="2">Wohnung</option>
                                <option value="3">Wohnung 1</option>
                                <option value="4">Wohnung 2</option> 
                                <option value="5">Wohnung 3</option> 
                                <option value="6">Wohnung 4</option>  
                            </select> 
                        </div>  
                    </div>         
                    <div class="single--field pb-2 sm:pb-5">
                        <label>Titel</label> 
                        <div class="selectbox">
                            <select required> 
                                <option value="">Bitte wählen</option>
                                <option value="1">Wohnung</option>
                                <option value="2">Wohnung 1</option>
                                <option value="3">Wohnung 2</option> 
                                <option value="4">Wohnung 3</option> 
                                <option value="5">Wohnung 4</option>                                  
                            </select> 
                        </div>  
                    </div> 
                    <div class="single--field pb-2 sm:pb-5">
                        <label>Vorname *</label>  
                            <input type="text" class="text-fieldblock" placeholder="Max">   
                    </div>         
                    <div class="single--field pb-2 sm:pb-5">
                        <label>Nachname *</label> 
                            <input type="text" class="text-fieldblock" placeholder="Mustermann"> 
                    </div> 
                    <div class="single--field pb-2 sm:pb-5">
                        <label>E-Mail *</label>  
                            <input type="text" class="text-fieldblock" placeholder="max@mustermann.com">   
                    </div>         
                    <div class="single--field pb-2 sm:pb-5">
                        <label>TELEFON *</label> 
                            <input type="text" class="text-fieldblock" placeholder=""> 
                    </div> 
                    <div class="single--field pb-2 sm:pb-5">
                        <label>Strasse &amp; Hausnummer *</label>  
                            <input type="text" class="text-fieldblock" placeholder="">   
                    </div>         
                    <div class="single--field pb-2 sm:pb-5">
                        <label>PLZ &amp; Ort *</label> 
                            <input type="text" class="text-fieldblock" placeholder=""> 
                    </div>      
                    <div class="single--field pb-2 sm:pb-5 col-span-2">
                        <label>IHRE NACHRICHT *</label> 
                        <textarea class="textarea-fieldblock" placeholder="Bitte senden Sie uns eine kurze Nachricht."></textarea> 
                    </div>   
                    <button @click="showAlert" class="main-button light-btn mt-1 w-full sm:w-auto  col-span-1 sm:col-span-2 lg:col-span-1">KONTAKT AUFNEHMEN</button> 
                    </div> 
        </div>
        <div class="right-detailsblock bg-white px-5 py-10 sm:p-10 flex items-center static md:relative">
            <a href="" @click.prevent="closeModal()"  class="close-button">SCHLIESSEN <i></i></a>

             <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
    <label for="styled-checkbox-1" class="text-h5 leading-26.5 font-mono"> 
                    *Ja, ich bin damit einverstanden, dass ich nicht nur über meine Anfrage, sondern auch weitere, ähnliche aktuelle Angebote und Produkte sowie (auch neue) Dienstleistungen per E-Mail oder telefonisch informiert werde. <strong class="w-full float-left font-65cond">Diese Zustimmung kann jederzeit widerrufen werden.</strong>  
                 <strong  class="w-full  float-left pt-7 font-65cond">Datenschutzhinweis:</strong> Bezüglich der Verarbeitung personenbezogener Daten sind die Informationspflichten im Sinne der Datenschutz-grundverordnung (DSGVO) in Verbindung mit dem Datenschutzgesetz (DSG) unter Datenschutzbestimmungen abrufbar.
               </label>
        </div>

    </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "Modal",
  data() {
    return {
      show: false
    };
  },
  methods: {
    closeModal() {
      this.show = false;
      document.querySelector("body").classList.remove("overflow-hidden");
    },
    openModal() {
      this.show = true;
      document.querySelector("body").classList.add("overflow-hidden");
    },
    showAlert() {
      // Use sweetalert2
      this.$swal({icon: 'error',
  title: '',
  text: 'Sehr geehrte/r Besucher/in, bitte beachten Sie, dass Felder die mit einem * markiert sind ausgefüllt werden müssen. Vielen Dank',
  footer: ''});
    },
  }
};
</script>
