<template>
  <!-- filter section   -->
  <div class="page-inner-wrapper py-5 sm:py-10 lg:py-62 lg:pb-4 border-t"> 

      <!-- title block -->
        <div class="container">
            <div class="w-full max-w-4xl py-5 sm:py-10 lg:py-62 m-auto text-center">
                <h1 class="common--header tracking-hrdspc pb-5 sm:pb-10">Aktuelle Projekte</h1>
                <p class="text-h4 leading-30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
        </div>
      <!-- title block -->

<!-- content block -->

<div class="container py-5 sm:py-10 lg:py-62">
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-0 lg:gap-4">
        <div class="h-auto w-full">

            <!-- filter section   -->
            <div class="filter-container inner-pagefilter h-auto  shadow-main">
                <div class="container">
                    <h4 class="text-20 leading-28 tracking-hrdspc pb-2.5 text-white font-serif uppercase">Projekte filtern</h4>
                    <div class="grid items-start grid-cols-1 md:grid-row-2 gap-0 md:gap-2.5 lg:gap-4">
                        <div class="single--field pb-5 md:pb-0">
                            <label>Objekttyp</label>
                            <!-- close filter -->
                            <a :class="getFilterClass(formdata.objekttyp)" href="#" @click.prevent="resetFilter('objekttyp')" class="absolute right-0 top-close pr-0 xl:pr-5 text-white text-10 font-nav tracking-fillabel">
                                <span class="w-1.5 float-left absolute top-1/2 -left-2.5 -m-1">
                                <img class="w-full" src="@/assets/images/close-icon.svg" alt="icon"> 
                                </span> 
                                FILTER LÖSCHEN
                            </a>
                            <!-- close filter -->
                            <div class="selectbox">
                            <select v-model="formdata.objekttyp">
                                <option value="">Alle</option>
                                <option value="1">Wohnung</option>
                                <option value="2">Wohnung 1</option>
                                <option value="3">Wohnung 2</option> 
                                <option value="4">Wohnung 3</option> 
                                <option value="5">Wohnung 4</option>  
                            </select> 
                            </div>  
                        </div> 
                    <div class="single--field pb-5 md:pb-0">
                            <label>ORT</label>
                            <!-- close filter -->
                            <a :class="getFilterClass(formdata.wunsch)" href="#" @click.prevent="resetFilter('wunsch')" class="absolute right-0 top-close pr-0 xl:pr-5 text-white text-10 font-nav tracking-fillabel">
                                <span class="w-1.5 float-left absolute top-1/2 -left-2.5 -m-1">
                                <img class="w-full" src="@/assets/images/close-icon.svg" alt="icon"> 
                                </span> 
                                FILTER LÖSCHEN
                            </a>
                            <!-- close filter -->
                            <div class="selectbox">
                                <select v-model="formdata.wunsch">
                                    <option value="">Alle</option>
                                    <option value="1">Kaufen</option>
                                    <option value="2">Kaufen 1</option>
                                    <option value="3">Kaufen 2</option> 
                                    <option value="4">Kaufen 3</option> 
                                    <option value="5">Kaufen 4</option>  
                                </select> 
                            </div>  
                        </div>   
                    </div>
                </div> 
            </div>
            <!-- filter section   -->             
        </div>

        <div class="col-span-3 pl-0 pt-10 lg:pt-0 lg:pl-5 xl:pl-23">
                
            <div class="grid grid-cols-1 md:grid-cols-2 gap-x-0 gap-y-10 lg:gap-y-20 md:gap-x-4">
                 <!-- Start single slider block -->
                <div class="inner--slider border-b pb-8 relative transition-all w-full">
                    <div class="hover:shadow-main transition-shadow">
                      <carousel :transition="300" :wrap-around="true" :items-to-show="1">
                          <slide v-for="slide in 3"  :key="slide">  
                          <picture class="max-h-97 overflow-hidden">
                              <source media="(min-width:768px)" srcset="@/assets/images/details_img9@2x.jpg"> 
                              <img src="@/assets/images/details_img9.jpg" alt="img">
                            </picture>
                            </slide>
                        <template #addons>
                          <pagination />
                          <navigation />
                        </template>
                      </carousel>
                    </div>  
                    <h4 class="list--title">Karosseriezentrum Inntal </h4> 
                    <p>Neue und alte Autos vereint unter einem hochmodernen Dach</p>
                   
                </div> 
                <!-- End single slider block --> 
                  <!-- Start single slider block -->
                <div class="inner--slider border-b pb-8 relative transition-all w-full">
                    <div class="hover:shadow-main transition-shadow">
                      <carousel :transition="300" :wrap-around="true" :items-to-show="1">
                          <slide v-for="slide in 3"  :key="slide">  
                          <picture class="max-h-97 overflow-hidden">
                              <source media="(min-width:768px)" srcset="@/assets/images/details_img10@2x.jpg"> 
                              <img src="@/assets/images/details_img10.jpg" alt="img">
                            </picture>
                            </slide>
                        <template #addons>
                          <pagination />
                          <navigation />
                        </template>
                      </carousel>
                    </div>  
                    <h4 class="list--title">Kitz Alpen Resort </h4>
                    <p>Einzigartige Luxus-Chalets in St. Johann bei Kitzbühel</p>
                </div> 
                <!-- End single slider block --> 
                  <!-- Start single slider block -->
                <div class="inner--slider border-b pb-8 relative transition-all w-full">
                    <div class="hover:shadow-main transition-shadow">
                      <carousel :transition="300" :wrap-around="true" :items-to-show="1">
                          <slide v-for="slide in 3"  :key="slide">  
                          <picture class="max-h-97 overflow-hidden">
                              <source media="(min-width:768px)" srcset="@/assets/images/details_img11@2x.jpg"> 
                              <img src="@/assets/images/details_img11.jpg" alt="img">
                            </picture>
                            </slide>
                        <template #addons>
                          <pagination />
                          <navigation />
                        </template>
                      </carousel>
                    </div>                      
                    <h4 class="list--title"> Natur Quartier Kufstein</h4>
                    <p>Stilvoll und komfortabel wohnen mit Nachhaltigkeit</p>
                </div> 
                <!-- End single slider block --> 
                
                  <!-- Start single slider block -->
                <div class="inner--slider border-b pb-8 relative transition-all w-full">
                    <div class="hover:shadow-main transition-shadow">
                      <carousel :transition="300" :wrap-around="true" :items-to-show="1">
                          <slide v-for="slide in 3"  :key="slide">  
                          <picture class="max-h-97 overflow-hidden">
                              <source media="(min-width:768px)" srcset="@/assets/images/details_img12@2x.jpg"> 
                              <img src="@/assets/images/details_img12.jpg" alt="img">
                            </picture>
                            </slide>
                        <template #addons>
                          <pagination />
                          <navigation />
                        </template>
                      </carousel>
                    </div>  
                    <h4 class="list--title">Kaiserreich Kiefersfelden </h4>
                    <p> Innovativer Gewerbepark auf über 40.000 m2</p>
                </div> 
                <!-- End single slider block --> 
                
                  <!-- Start single slider block -->
                <div class="inner--slider border-b pb-8 relative transition-all w-full">
                    <div class="hover:shadow-main transition-shadow">
                      <carousel :transition="300" :wrap-around="true" :items-to-show="1">
                          <slide v-for="slide in 3"  :key="slide">  
                          <picture class="max-h-97 overflow-hidden">
                              <source media="(min-width:768px)" srcset="@/assets/images/details_img13@2x.jpg"> 
                              <img src="@/assets/images/details_img13.jpg" alt="img">
                            </picture>
                            </slide>
                        <template #addons>
                          <pagination />
                          <navigation />
                        </template>
                      </carousel>
                    </div>  
                    <h4 class="list--title">Peter Aschenbrenner StraSSe </h4>
                    <p>Städtisches Flair und naturverbundenes Wohnen</p>
                </div> 
                <!-- End single slider block --> 
            </div>


        </div>
    </div>
        </div>
<!-- content block -->
      
  </div>

 
</template>

<script>
// If you are using PurgeCSS, make sure to whitelist the carousel CSS classes
import 'vue3-carousel/dist/carousel.css';
import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';

export default {
	name: 'App',
	data() {
		return {
			formdata: {
				objekttyp: "",
				wunsch: "",
				ort: "",
				zimmer: ""
			}
		}
	},
	methods: {
		getFilterClass(model) {
			if (model == "") {
				return "hidden";
			} else {
				return "";
			}
		},

		resetFilter(model) {
			this.formdata[model] = "";
		}
	},
	components: { 
		Carousel,
		Slide,
		Pagination,
		Navigation,
	},
};
</script>

