<template>
    <div ref="homeslider" class="banner--slider h-85 md:h-auto relative max-h-98 overflow-hidden">
    <carousel :items-to-show="1" :wrap-around="true"> 
       <slide v-for="slide in 3" :key="slide">  
        <picture class="h-85 te md:h-auto max-h-98 overflow-hidden">
            <source media="(min-width:768px)" srcset="@/assets//images/hero-image@2x.jpg"> 
            <img class="w-full h-full object-cover md:w-full md:h-full md:object-none" src="@/assets//images/hero-image.jpg" alt="img">
        </picture>
        <!-- banner content -->
          <div class="w-full absolute text-left px-18 pt-10 md:px-18  xl:px-5 md:pt-0 left-0 top-0 h-full z-10">
            <div class="container h-auto md:h-full relative flex flex-col justify-self-start md:justify-center">
               <h1 class="w-full text-26 md:text-h2 xl:text-h1 tracking-mainhd md:w-2/4 md:pr-10 uppercase text-white">finden sie die passende immobilie.</h1>
           
            </div> 
            <div class=" mt-2 md:-mt-16 w-full relative z-20">
                <div class="container font-cond text-10 text-white  tracking-label">
                    <span class="pr-3">Im Bild:</span>
                    <a class="uppercase underline hover:no-underline" href="#">NATURQUARTIER KUFSTEIN</a>
                </div>
            </div>
          </div>
        <!-- banner content -->
        </slide>

    <template #addons>
      <pagination />
      <navigation />
    </template>
  </carousel>
    </div>
    <div class="bg-bggray px-18 py-10 md:px-5  md:py-20 xl:px-5"> 
        <div class="container relative z-30">
            <div class="w-full md:w-2/4 ">
                <!-- forms block -->
                 <div class="form--outer shadow-form"> 
                          <div class="relative bg-white">  
                            <div class="pb-5 lg:pb-8">
                                <label class="block pb-3 font-cond uppercase tracking-label">Objekttyp</label>
                                <div class="selectbox">
                                  <select class="w-full font-mono">
                                      <option>Was suchen Sie?</option>
                                      <option>Wollen Sie etwas kaufen oder mieten?</option>
                                      <option>Wo suchen Sie?</option>
                                  </select> 
                                </div>    
                              </div>
                              <div class="pb-5 lg:pb-8">
                                <label class="block pb-3 font-cond uppercase tracking-label">WUNSCH</label>
                                <div class="selectbox">
                                  <select class="w-full font-mono">
                                    <option>Wollen Sie etwas kaufen oder mieten?</option>
                                      <option>Was suchen Sie?</option>
                                      <option>Wo suchen Sie?</option>
                                  </select> 
                                </div>    
                              </div>
                              <div class="pb-5 lg:pb-8">
                                <label class="block pb-3 font-cond uppercase tracking-label">Ort</label>
                                <div class="selectbox">
                                  <select class="w-full font-mono">
                                    <option>Wo suchen Sie?</option>
                                      <option>Was suchen Sie?</option>
                                      <option>Wollen Sie etwas kaufen oder mieten?</option>
                                  </select> 
                                </div>    
                              </div> 
                              <div class="flex justify-between items-baseline">
                              <button class="main-button w-full md:w-auto">TREFFER ANZEIGEN</button> 
                              </div>  
                        </div>  
                </div>
                <!-- forms block --> 
                <p class="text-h4 leading-7 md:leading-30 pr-0 mt-10 md:mt-0 md:pr-10 xl:pr-23">Seit 1976 steht der Name Unterberger für ein motiviertes, selbständiges Familienunternehmen, das sich ausgehend vom Automobilhandel auch im Bereich Immobilien einen Namen gemacht hat. „Sichere und beständige Werte für unsere Kunden schaffen“, lautet unsere Devise, die wir durch professionelles Management, große Motivation und klare Standort- und Informationsvorsprünge erfüllen können. Bei uns finden auch Sie die richtige Immobilie!</p>
            </div>
        </div> 
    </div>
     <div class="bg-white p-18 md:px-5 py-15 md:py-10 lg:py-20 xl:py-30 xl:px-5"> 
        <div class="container">
            <h2 class="common--header pb-10 lg:pb-20">Aktuelle Projekte</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-0 md:gap-4"> 
                <div class="inner--slider">
                    <div class="hover:shadow-main transition-shadow">
                    <carousel :transition="300" :wrap-around="true" :items-to-show="1">
                        <slide v-for="slide in 3"  :key="slide">  
                        <picture class="max-h-97 overflow-hidden">
                            <source media="(min-width:768px)" srcset="@/assets/images/details_img1@2x.jpg"> 
                            <img src="@/assets/images/details_img1.jpg" alt="img">
                          </picture>
                          </slide>
                      <template #addons>
                        <pagination />
                        <navigation />
                      </template>
                    </carousel>
                    </div>
                    <h3 class="list--header text-20 md:text-h3 pt-22 md:pt-8 text-left">Kaiserreich Kiefersfelden</h3>
                    <p class="list--disc pt-6 text-left">Direkt an der Autobahnabfahrt Kiefersfelden errichtet die Unternehmensgruppe Unterberger auf rund 40.000 Quadratmetern das „Kaiserreich Kiefersfelden“ – einen Genuss- und Kompetenzpark mit Büros, Gewerbe- und Ausstellungsflächen, hochwertiger Gastronomie, kleineren Handelsflächen, einer Kinder- und Entertainmentwelt mit 3D-Kino, einem Hotel und einer Tankstelle.</p>
                    <a class="list--disc text-left pt-5 w-full float-left underline font-mono" href="#">Mehr erfahren</a>
                </div>
                <div class="inner--slider pt-15 md:pt-0">
                    <div class="hover:shadow-main transition-shadow">
                      <carousel :transition="300" :wrap-around="true" :items-to-show="1">
                        <slide v-for="slide in 3"  :key="slide" >  
                          <picture class="max-h-97 overflow-hidden">
                            <source media="(min-width:768px)" srcset="@/assets/images/details_img2@2x.jpg"> 
                            <img src="@/assets/images/details_img2.jpg" alt="img">
                          </picture>
                        </slide>
                        <template #addons>
                          <pagination />
                          <navigation />
                        </template>
                      </carousel>
                    </div>
                    <h3 class="list--header text-20 md:text-h3 pt-22 md:pt-8 text-left">Kaiserreich Kiefersfelden</h3>
                    <p class="list--disc pt-6 text-left"> In St. Johann bei Kitzbühel entsteht ein einzigartiges Luxus-Chalet-Projekt, das geprägt ist von Service, Komfort und Sicherheit. Servicierte Chalet-Club Residences, dazu Kaminlounge, Restaurant, Homeoffice und Café. Der Clubconcierge erfüllt rund um die Uhr Ihre Wünsche. Mehr erfahren</p>
                    <a class="list--disc text-left pt-5 w-full float-left underline font-mono" href="#">Mehr erfahren</a>
                </div>

            </div>
            <div class="w-full flex justify-center pt-15 md:pt-10">
                <a href="#" class="main-button">ALLE PROJEKTE</a>
            </div> 
        </div>
    </div>

    <div class="bg-bggray px-18 pt-15 md:px-5  pb-20 md:py-20 xl:px-5"> 
        <div class="container">
            <div class="text-center">
                <h2 class="common--header">Die richtige Entscheidung</h2>
                <p class="main--disc">„Sichere und beständige Werte für unsere Kunden schaffen“, lautet unsere Devise, die wir durch professionelles Management, große Motivation und klare Standort- und Informationsvorsprünge erfüllen können.</p>
            </div> 
            
            <div class="grid grid-cols-1 md:grid-cols-3 gap-18 md:gap-14 text-center"> 
                <!-- single block -->
                <div>
                    <picture class="list--img" >
                        <img class="w-21" src="@/assets/images/list_icon1.svg" alt="icon">
                    </picture>
                    <h4 class="list--header">Ausgezeichnete Qualität</h4>
                    <p class="list--disc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                </div>
                <!-- single block -->

                <!-- single block -->
                <div>
                    <picture class="list--img">
                        <img class="w-21" src="@/assets/images/list_icon2.svg" alt="icon">
                    </picture>
                    <h4 class="list--header">Beständiger Wert</h4>
                    <p class="list--disc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                </div>
                <!-- single block -->

                <!-- single block -->
                <div>
                    <picture class="list--img">
                        <img class="w-21" src="@/assets/images/list_icon3.svg" alt="icon">
                    </picture>
                    <h4 class="list--header">Nachhaltig gebaut</h4>
                    <p class="list--disc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                </div>
                <!-- single block --> 
            </div> 
        </div> 
    </div>
</template>

<script>
// If you are using PurgeCSS, make sure to whitelist the carousel CSS classes
import 'vue3-carousel/dist/carousel.css';
import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';

export default {
    name: 'App',
    components: {
        Carousel,
        Slide,
        Pagination,
        Navigation,
    },
    mounted() {
        setInterval(() => {
          if (this.$refs.homeslider) {
            this.$refs.homeslider.querySelector('.carousel__next').click();
          }
        }, 3000);
    }
};
</script>

