<template>
  <!-- filter section   -->
  <div class="filter-container">
    <div class="container">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-0 md:gap-2.5 lg:gap-4">
            <div class="single--field pb-5 md:pb-0">
                <label>Objekttyp</label>
                <!-- close filter -->
				<a :class="getFilterClass(formdata.objekttyp)" href="#" @click.prevent="resetFilter('objekttyp')" class="absolute right-0 top-close pr-0 lg:pr-5 text-white text-10 font-nav tracking-fillabel">
					<span class="w-1.5 float-left absolute top-1/2 -left-2.5 -m-1">
					<img class="w-full" src="@/assets/images/close-icon.svg" alt="icon"> 
					</span> 
					FILTER LÖSCHEN
				</a>
                <!-- close filter -->
                <div class="selectbox">
					<select v-model="formdata.objekttyp">
						<option value="">Wählen</option>
						<option value="1">Wohnung</option>
						<option value="2">Wohnung 1</option>
						<option value="3">Wohnung 2</option> 
						<option value="4">Wohnung 3</option> 
						<option value="5">Wohnung 4</option>  
					</select> 
                </div>  
            </div> 
            <div class="single--field pb-5 md:pb-0">
                <label>WUNSCH</label>
                <!-- close filter -->
				<a :class="getFilterClass(formdata.wunsch)" href="#" @click.prevent="resetFilter('wunsch')" class="absolute right-0 top-close pr-0 lg:pr-5 text-white text-10 font-nav tracking-fillabel">
					<span class="w-1.5 float-left absolute top-1/2 -left-2.5 -m-1">
					<img class="w-full" src="@/assets/images/close-icon.svg" alt="icon"> 
					</span> 
					FILTER LÖSCHEN
				</a>
                <!-- close filter -->
                <div class="selectbox">
					<select v-model="formdata.wunsch">
						<option value="">Wählen</option>
						<option value="1">Kaufen</option>
						<option value="2">Kaufen 1</option>
						<option value="3">Kaufen 2</option> 
						<option value="4">Kaufen 3</option> 
						<option value="5">Kaufen 4</option>  
					</select> 
                </div>  
            </div> 
            <div class="single--field pb-5 md:pb-0">
                <label>ORT</label>
                <!-- close filter -->
				<a :class="getFilterClass(formdata.ort)" href="#" @click.prevent="resetFilter('ort')"  class="absolute right-0 top-close pr-0 lg:pr-5 text-white text-10 font-nav tracking-fillabel">
					<span class="w-1.5 float-left absolute top-1/2 -left-2.5 -m-1">
					<img class="w-full" src="@/assets/images/close-icon.svg" alt="icon"> 
					</span> 
					FILTER LÖSCHEN
				</a>
                <!-- close filter -->
                <div class="selectbox">
					<select v-model="formdata.ort">
						<option value="">Wählen</option>
						<option value="1">Kufstein</option>
						<option value="2">Kufstein 1</option>
						<option value="3">Kufstein 2</option> 
						<option value="4">Kufstein 3</option> 
						<option value="5">Kufstein 4</option>  
					</select> 
                </div>  
            </div> 
            <div class="single--field">
                <label>ZIMMER</label>
                <!-- close filter -->
				<a :class="getFilterClass(formdata.zimmer)"  href="#" @click.prevent="resetFilter('zimmer')" class="absolute right-0 top-close pr-0 lg:pr-5 text-white text-10 font-nav tracking-fillabel">
					<span class="w-1.5 float-left absolute top-1/2 -left-2.5 -m-1">
					<img class="w-full" src="@/assets/images/close-icon.svg" alt="icon"> 
					</span> 
					FILTER LÖSCHEN
				</a>
                <!-- close filter -->
                <div class="selectbox">
					<select v-model="formdata.zimmer" >
						<option value="">Wählen</option>
						<option value="1">Zimmer</option>
						<option value="2">Zimmer 1</option>
						<option value="3">Zimmer 2</option> 
						<option value="4">Zimmer 3</option> 
						<option value="5">Zimmer 4</option> 
					</select> 
                </div>  
            </div> 
        </div>
    </div> 
  </div>

  <!-- filter section   --> 


    <div class="bg-white p-18 pt-10 lg:pt-126"> 
        <div class="container">
          <h2 class="common--header pb-8 lg:pb-113 tracking-hrdspc">Wohnimmobilien</h2>

            <!-- Title section -->
              <div class="header--outer">
                  <h3 class="w-auto text-secondary pb-2 uppercase font-serif tracking-hrdspc text-left text-20 lg:text-2xl py-0 md:py-3">NaturQuartier Kufstein</h3>
                  <div   class="view--morebtn">
                    <router-link to="/wohnimmobilien">ALLE IMMOBILIEN DIESES PROJEKTS ANZEIGEN 
                      <span class="w-4 absolute right-0 top-1 lg:top-2 -m-1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                          <path fillRule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clipRule="evenodd" />
                        </svg>
                      </span>
                    </router-link> 
                  </div>
              </div>
            <!-- Title section --> 

            <div class="grid grid-cols-1 md:grid-cols-3 gap-y-10 md:gap-x-4 md:gap-y-20">  
                <!-- Start single slider block -->
                <div class="inner--slider border-b pb-8 relative transition-all">
                    <div class="hover:shadow-main transition-shadow">
                      <carousel :transition="300" :wrap-around="true" :items-to-show="1">
                          <slide v-for="slide in 3"  :key="slide">  
                          <picture class="max-h-97 overflow-hidden">
                              <source media="(min-width:768px)" srcset="@/assets/images/details_img3@2x.jpg"> 
                              <img src="@/assets/images/details_img3.jpg" alt="img">
                            </picture>
                            </slide>
                        <template #addons>
                          <pagination />
                          <navigation />
                        </template>
                      </carousel>
                    </div>  
                    <h4 class="list--title">Naturquartier Wohnung <br> Top 1.1 / Erdgeschoss</h4>
                    <ul class="details--block">
                      <li class="font-mono pb-0.5">Zimmer: <span>2</span></li>
                      <li class="font-mono pb-0.5">Wohnfläche in m<sup>2</sup>: <span>72,9</span></li>
                      <li class="font-mono pb-0.5">Kaufpreis:  <router-link to="/wohnimmobilien" class="underline hover:text-secondary">auf Anfrage</router-link></li> 
                    </ul> 
                </div> 
                <!-- End single slider block --> 
                <!-- Start single slider block -->
                <div class="inner--slider border-b pb-8 relative transition-all">
                    <div class="hover:shadow-main transition-shadow">
                      <carousel :transition="300" :wrap-around="true" :items-to-show="1">
                          <slide v-for="slide in 3"  :key="slide">  
                          <picture class="max-h-97 overflow-hidden">
                              <source media="(min-width:768px)" srcset="@/assets/images/details_img4@2x.jpg"> 
                              <img src="@/assets/images/details_img4.jpg" alt="img">
                            </picture>
                            </slide>
                        <template #addons>
                          <pagination />
                          <navigation />
                        </template>
                      </carousel>
                    </div>  
                    <h4 class="list--title"> Naturquartier Wohnung <br>Top 1.4 / Erdgeschoss</h4>
                    <ul class="details--block">
                      <li class="font-mono pb-0.5">Zimmer: <span>2</span></li>
                      <li class="font-mono pb-0.5">Wohnfläche in m<sup>2</sup>: <span>80,3</span></li>
                      <li class="font-mono pb-0.5">Kaufpreis:  <router-link to="/wohnimmobilien"  class="underline hover:text-secondary">auf Anfrage</router-link></li> 
                    </ul> 
                </div>   
                <!-- End single slider block --> 
                <!-- Start single slider block -->
                <div class="inner--slider border-b pb-8 relative transition-all">
                    <div class="hover:shadow-main transition-shadow">
                      <carousel :transition="300" :wrap-around="true" :items-to-show="1">
                          <slide v-for="slide in 3"  :key="slide">  
                          <picture class="max-h-97 overflow-hidden">
                              <source media="(min-width:768px)" srcset="@/assets/images/details_img5@2x.jpg"> 
                              <img src="@/assets/images/details_img5.jpg" alt="img">
                            </picture>
                            </slide>
                        <template #addons>
                          <pagination />
                          <navigation />
                        </template>
                      </carousel>
                    </div>  
                    <h4 class="list--title">Natur Quartier Wohnung <br>Top 2.3 / 2. Stock</h4>
                    <ul class="details--block">
                      <li class="font-mono pb-0.5">Zimmer: <span>2</span></li>
                      <li class="font-mono pb-0.5">Wohnfläche in m<sup>2</sup>: <span>93,3</span></li>
                      <li class="font-mono pb-0.5">Kaufpreis:  <router-link to="/wohnimmobilien"  class="underline hover:text-secondary">auf Anfrage</router-link></li> 
                    </ul> 
                </div>  
                <!-- End single slider block --> 
                <!-- Start single slider block -->
                <div class="inner--slider border-b pb-8 relative transition-all">
                    <div class="hover:shadow-main transition-shadow">
                      <carousel :transition="300" :wrap-around="true" :items-to-show="1">
                          <slide v-for="slide in 3"  :key="slide">  
                          <picture class="max-h-97 overflow-hidden">
                              <source media="(min-width:768px)" srcset="@/assets/images/details_img6@2x.jpg"> 
                              <img src="@/assets/images/details_img6.jpg" alt="img">
                            </picture>
                            </slide>
                        <template #addons>
                          <pagination />
                          <navigation />
                        </template>
                      </carousel>
                    </div>  
                    <h4 class="list--title">Natur Quartier Wohnung <br>Top 3.1 / 3. Stock</h4>
                    <ul class="details--block">
                      <li class="font-mono pb-0.5">Zimmer: <span>2</span></li>
                      <li class="font-mono pb-0.5">Wohnfläche in m<sup>2</sup>: <span>72,9</span></li>
                      <li class="font-mono pb-0.5">Kaufpreis:  <router-link to="/wohnimmobilien"  class="underline hover:text-secondary">auf Anfrage</router-link></li> 
                    </ul> 
                </div> 
                <!-- End single slider block -->  
            </div> 
        </div>
    </div>


<div class="bg-white px-18 pt-1 pb-10 md:pt-15 lg:pt-20 md:pb-121"> 
        <div class="container"> 

            <!-- Title section -->
              <div class="header--outer">
                  <h3 class="w-auto text-secondary pb-0 md:pb-2  uppercase font-serif tracking-hrdspc text-left text-20 lg:text-2xl py-0 md:py-3">
                    Wohnungen zum Kauf in Kufstein mit 2 Zimmern
                  </h3> 
              </div>
            <!-- Title section --> 

            <div class="grid grid-cols-1 md:grid-cols-3 gap-y-10 md:gap-x-4 md:gap-y-20">  
                <!-- Start single slider block -->
                <div class="inner--slider border-b pb-8 relative transition-all">
                    <div class="hover:shadow-main transition-shadow">
                      <carousel :transition="300" :wrap-around="true" :items-to-show="1">
                          <slide v-for="slide in 3"  :key="slide">  
                          <picture class="max-h-97 overflow-hidden">
                              <source media="(min-width:768px)" srcset="@/assets/images/details_img7@2x.jpg"> 
                              <img src="@/assets/images/details_img7.jpg" alt="img">
                            </picture>
                            </slide>
                        <template #addons>
                          <pagination />
                          <navigation />
                        </template>
                      </carousel>
                    </div>  
                    <h4 class="list--title">Ruhige 2-Zimmerwohnung in Festungsnähe</h4>
                    <ul class="details--block">
                      <li class="font-mono pb-0.5">Zimmer: <span>2</span></li>
                      <li class="font-mono pb-0.5">Wohnfläche in m<sup>2</sup>: <span>72,9</span></li>
                      <li class="font-mono pb-0.5">Kaufpreis: <span>€ 345.000</span></li> 
                    </ul> 
                </div> 
                <!-- End single slider block --> 
                <!-- Start single slider block -->
                <div class="inner--slider border-b pb-8 relative transition-all">
                    <div class="hover:shadow-main transition-shadow">
                      <carousel :transition="300" :wrap-around="true" :items-to-show="1">
                          <slide v-for="slide in 3"  :key="slide">  
                          <picture class="max-h-97 overflow-hidden">
                              <source media="(min-width:768px)" srcset="@/assets/images/details_img8@2x.jpg"> 
                              <img src="@/assets/images/details_img8.jpg" alt="img">
                            </picture>
                            </slide>
                        <template #addons>
                          <pagination />
                          <navigation />
                        </template>
                      </carousel>
                    </div>  
                    <h4 class="list--title"> Gehobene Wohnung in Stadtmitte</h4>
                    <ul class="details--block">
                      <li class="font-mono pb-0.5">Zimmer: <span>2</span></li>
                      <li class="font-mono pb-0.5">Wohnfläche in m<sup>2</sup>: <span>85,3</span></li>
                      <li class="font-mono pb-0.5">Kaufpreis: <span>€ 560.000</span></li> 
                    </ul> 
                </div> 
                <!-- End single slider block -->  
               
            </div> 
        </div>
    </div>


 
</template>

<script>
// If you are using PurgeCSS, make sure to whitelist the carousel CSS classes
import 'vue3-carousel/dist/carousel.css';
import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';

export default {
	name: 'App',
	data() {
		return {
			formdata: {
				objekttyp: "",
				wunsch: "",
				ort: "",
				zimmer: ""
			}
		}
	},
	methods: {
		getFilterClass(model) {
			if (model == "") {
				return "hidden";
			} else {
				return "";
			}
		},

		resetFilter(model) {
			this.formdata[model] = "";
		}
	},
	components: {
		Carousel,
		Slide,
		Pagination,
		Navigation,
	},
};
</script>

