<template>
    <Header></Header>
    <router-view/>
    <Footer></Footer>
</template>

<script>
import Header from './components/includes/Header.vue';
import Footer from './components/includes/Footer.vue';

export default {
    name: 'App',
    components: {
        Header,
        Footer
    },
    methods: {
        toggleBodyClass(addRemoveClass, className) {
            const el = document.body;

            if (addRemoveClass === 'addClass') {
                el.classList.add(className);
            } else {
                el.classList.remove(className);
            }
        },
        onResize() {
            if (this.isMobile()) {
                this.toggleBodyClass('addClass', 'mobile--navactive');
            } else {
                this.toggleBodyClass('removeClass', 'mobile--navactive');
            }
        },
        isMobile() {
            if (window.innerWidth < 768) {
                return true;
            } else {
                return false;
            }
        }
    },
    mounted() {
        this.onResize()
        window.addEventListener('resize', this.onResize, { passive: true })
    },
};
</script>
