@tailwind base;   

@tailwind components;
@tailwind utilities;
 

@layer base { 
      
    @media (min-width: 1536px) {
      .container {
        max-width: 1304px!important;
      }
    } 
    
    @font-face {
      font-family: 'Univers LT 55';
      src: url('../fonts/UniversLT.woff2') format('woff2'),
          url('../fonts/UniversLT.woff') format('woff');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }
    
    @font-face {
      font-family: 'Univers LT 45'; 
      src: url('../fonts/UniversLTStd-Light.woff2') format('woff2'),
          url('../fonts/UniversLTStd-Light.woff') format('woff');
      font-weight: 300;
      font-style: normal;
      font-display: swap;
    }  
    
    @font-face {
      font-family: 'Superclarendon Lt';
      src: url('../fonts/SuperclarendonLt.woff2') format('woff2'),
          url('../fonts/SuperclarendonLt.woff') format('woff');
      font-weight: 300;
      font-style: normal;
      font-display: swap;
  }
  
      @font-face {
        font-family: 'Univers LT 57 Condensed';
        src: url('../fonts/UniversLT-Condensed.woff2') format('woff2'),
            url('../fonts/UniversLT-Condensed.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    } 
    
    @font-face {
      font-family: 'Univers LT 67 CondensedLt';
      src: url('../fonts/UniversLT-CondensedBold.woff2') format('woff2'),
          url('../fonts/UniversLT-CondensedBold.woff') format('woff');
      font-weight: bold;
      font-style: normal;
      font-display: swap;
  }
  @font-face {
    font-family: 'Univers65';
    src: url('../fonts/Univers-Bold.woff2') format('woff2'),
        url('../fonts/Univers-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
  @font-face {
    font-family: 'UniversLTStd55Roman';
    src: url('../fonts/UniversLTStd55Roman.woff2') format('woff2'),
         url('../fonts/UniversLTStd55Roman.woff') format('woff');
}

    h1 {
      @apply text-h1;
      font-family: 'Superclarendon Lt';
      font-style:normal;
    }
    h2 {
      @apply  text-h2;
      font-family: 'Superclarendon Lt';
      font-style:normal;
    }
    h3 {
      @apply text-h3;
      font-family: 'Univers LT 55';
      font-style:normal;
    }
    h4 {
      @apply text-h4;
      font-family: 'Univers LT 55';
      font-style:normal;
    }

    h5 {
      @apply text-h5;
      font-family: 'Univers LT Std';
      font-style:normal;
    }
    h6 {
      @apply text-h6;
      font-family: 'Univers LT Std';
      font-style:normal;
    }
    p {
      @apply text-base; 
      font-family: 'Univers LT 45';
      font-style:normal;
    }
    
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      .top--navlbk{height:25px!important; }
      .top--icon{ position: relative!important; }
    }
}


@layer components { 

    .common--header{
      @apply text-2xl md:text-h2 text-center uppercase text-secondary tracking-headspace;
    }
    .main--disc{
      @apply w-full md:max-w-3.5xl m-auto text-graydrak text-h4 leading-7 md:leading-8 pt-21 md:pt-17 pb-15 md:pb-20 tracking-wide;
    }
    .list--img{
     @apply w-full flex justify-center;
    }
    .list--header{
      @apply text-center uppercase text-secondary tracking-smhead pt-10 md:pt-8;
    } 
    .list--disc{
      @apply w-full md:max-w-3xl m-auto text-graydrak leading-p pt-4 md:pt-6 tracking-wide;
    }
    .main-button{
      @apply bg-primary text-white text-h6 uppercase leading-none py-4 px-49 font-cond tracking-label delay-150 duration-300 ;
    }  
    .main-button:hover{
      @apply bg-secondary border-transparent outline-none text-primary delay-300;
    }
    .main-button:focus{
      @apply bg-secondary border-transparent outline-none text-primary delay-300;
    }
    .main-button:active{
      @apply bg-secondary border-transparent outline-none text-primary delay-300;
    }
    .main-button.light-btn{
      @apply bg-white text-primary text-h6 uppercase leading-none py-4 px-0 lg:px-49 font-cond tracking-label delay-150 duration-300 ;
    }  


    .main-button.light-btn:hover{
      @apply bg-secondary text-primary delay-300;
    }
    .main-button.light-btn:focus{
      @apply bg-secondary text-primary delay-300;
    }
    .main-button.light-btn:active{
      @apply bg-secondary text-primary delay-300;
    }
    



    .form--outer{
      @apply w-full px-18 py-10 bg-white md:max-w-sm lg:max-w-lg xl:max-w-xl  2xl:max-w-2.5xl relative md:absolute right-0 md:px-8 md:py-8  lg:px-20 lg:py-10 -mt-57 lg:-mt-98;
    }
    .nav--outerblk{
      @apply  justify-between self-center md:text-10 lg:text-h6 font-cond hidden md:flex;
    }
    .main--navigation{
      @apply  justify-between self-center md:text-10 lg:text-h6 font-cond hidden md:flex;
    }
    .main--navigation li{
      @apply pl-0  md:pl-4 lg:pl-18; 
    }
    .main--navigation li a:hover{
      @apply opacity-40;
    } 
    .main--navigation li a.router-link-active{
      @apply opacity-40;
    }
    .top--navlbk{
      @apply  hidden md:flex;
    }
 
/* mobile navigation */ 
    .mobile--navactive.menu--active{
      overflow: hidden;
    }  
    .mobile--navactive .nav--outerblk{
      @apply  justify-between self-center md:text-10 lg:text-h6 font-cond block md:flex;
    }
    .mobile--navactive .main--navigation{
      @apply  justify-between self-center flex-col block ;
    } 
    .mobile--navactive .nav--outerblk li {
      @apply w-full float-left;
    }
    .mobile--navactive .nav--outerblk li a {
        @apply text-19 py-1 w-full float-left;
    } 
    .icon--navblk { 
      @apply block md:hidden;
    }
    .mobile--navactive .icon--navblk { 
      @apply block md:hidden w-full float-left;
    }
    .mobile--navactive .icon--navblk ul { 
      @apply flex-col pt-10;
    } 
    .mobile--navactive .icon--navblk ul li a { 
      @apply text-h5 md:text-h6 tracking-label;
    }  
    .top--navblk { 
      @apply block md:hidden;
    }
    .mobile--navactive .top--navblk { 
      @apply block md:hidden w-full float-left  pt-15 pb-30;
    }
    .mobile--navactive .top--navblk span { 
      @apply pb-4 float-left w-full;
    } 
    .mobile--navactive .top--navblk ul{ 
      @apply flex-col float-left w-full;
    }
    .mobile--navactive .top--navblk ul li a{ 
      @apply text-h5 md:text-h6 tracking-label;
    }
    .mobile--navactive .nav-trigger .normal{ 
      @apply block ;
      outline:none;
    }
    .mobile--navactive .nav-trigger .close{ 
      @apply hidden ;
      outline:none;
    } 

    .mobile--navactive.menu--active .nav-trigger .close{ 
      @apply block;
    } 
    .mobile--navactive.menu--active .nav-trigger .normal{ 
      @apply hidden;
    }
/* mobile navigation */ 
    .filter-container{
      @apply h-full w-full md:px-5 xl:px-5 bg-gray-800 py-10 px-18  md:pb-fpb md:pt-fpt;
    } 

    .filter-container .selectbox select{
      @apply w-full font-mono text-white border-white bg-gray-800 text-h5 font-light;
    } 

    .filter-container .selectbox::before {content: '';position: absolute;top: 50%;margin-top: -6px;right: 1.375rem;width: 0;height: 0;border: solid white;border-width: 0 2px 2px 0;display: inline-block;padding: 3px;transform: rotate(45deg);}

    .filter-container.inner-pagefilter{
      @apply md:p-10 lg:p-5 xl:p-10 xl:pt-9;
    }


    .model-outercontainer{
      @apply h-full w-full md:px-5 xl:px-5 bg-gray-800 py-10 px-18  md:pb-fpb md:pt-fpt;
    } 

    .model-outercontainer .selectbox select{
      @apply w-full font-mono text-white border-white bg-gray-800 text-h5 font-light;
    } 

    .text-fieldblock{ 
      @apply w-full font-mono text-white border-white bg-gray-800 text-h5 font-light;
    }
    .textarea-fieldblock{ 
      @apply w-full font-mono text-white border-white bg-gray-800 text-h5 font-light;
    }
    
    .model-outercontainer .selectbox::before {content: '';position: absolute;top: 50%;margin-top: -6px;right: 1.375rem;width: 0;height: 0;border: solid white;border-width: 0 2px 2px 0;display: inline-block;padding: 3px;transform: rotate(45deg);}
     
    .single--field{
      @apply relative;
    }

    .single--field label{
      @apply block pb-2 sm:pb-lp text-h6 md:text-10 lg:text-h6 font-cond text-white uppercase tracking-fillabel;
    }
    
    .view--morebtn{
      @apply text-graydrak tracking-fillabel pb-1 md:pb-0 pt-0 lg:pt-1 md:text-right text-12 lg:text-h6 font-cond relative outline-none pr-4 leading-17;
    } 
    .view--morebtn:hover{
      @apply underline;
    }
    .header--outer{
      @apply border-b flex flex-col pb-8 mb-10 md:pb-0 md:flex-row justify-between place-items-start md:items-center;
    }

    .list--title{
      @apply uppercase text-secondary text-h4 md:text-h6 lg:text-h4 tracking-hrdspc pb-0.5 pt-8 md:pt-35 leading-p text-left;
    }
    .details--title{
      @apply uppercase text-secondary text-3xl pb-0.5 text-left tracking-smhead -mt-0.5 leading-10.5;
    }
    .back--btn{
      @apply text-graydrak tracking-fillabel pb-0  text-left text-12 lg:text-h6 font-cond relative outline-none pl-4 leading-17;
    } 
    .back--btn:hover{
      @apply underline;
    }
    .tabnav--listing{
      @apply  flex justify-start flex-row font-cond flex-wrap;
    }
    .tabnav--listing li{
      @apply w-full py-2 md:py-0 md:w-auto md:px-xm lg:px-115 relative;
    }
    .tabnav--listing li a{
      @apply relative text-graydrak tracking-fillabel mb-2.5 md:mb-0 md:pb-2.5 text-left text-h6 md:text-12 lg:text-h6 font-cond outline-none leading-17;
    } 
    .tabnav--listing li:first-child{
      @apply pl-0;
    }  


.single--tabcontentblk .main--contentblock{ @apply w-full h-auto tracking-list;}

.single--tabcontentblk .main--contentblock h4{ 
  @apply font-65cond text-h4 tracking-list pb-xm pt-6;
}
.single--tabcontentblk .main--contentblock p{ 
  @apply text-h6 md:text-h4 pb-99;
}
.single--tabcontentblk .main--contentblock ul{ 
  @apply w-full h-auto;
}
.single--tabcontentblk .main--contentblock ul li{ 
  @apply w-full h-auto text-h6 md:text-h4 font-mono relative pb-1;
}
.single--tabcontentblk .main--contentblock p a{ 
  @apply underline;
}

.single--tabcontentblk .main--contentblock strong{ 
  @apply font-65cond text-h6 md:text-h4 tracking-list;
}
.single--tabcontentblk .main--contentblock span{ 
  @apply w-full h-auto text-h6 md:text-h4 font-mono relative;
}


.map--outer{
  @apply w-full h-424;
} 

.map--outer iframe{
  @apply w-full h-424;
} 
.map--outer img{
  @apply w-full;
} 
.open-title{
  @apply text-secondary text-h4 md:text-h3 font-roman uppercase tracking-normal md:tracking-hrdspc w-auto;
}
.arrow-icon{
  @apply w-4 absolute right-0  top-2 md:top-3.5  mt-5sm;
}

} 
body{
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.model-outercontainer .selectbox select:required:invalid {
  color: #FF0000;
}

.model-outercontainer .selectbox select option[value=""][disabled] {
  display: none;
}


.logo-block img{
  width: 188px;
  height: 34px;
}
.logo-outer img{
  width: 188px;
  height: 34px;
}
.main--navigation li a {
  opacity: 1;
  outline: none;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
.mobile--navactive .nav--outerblk {
  position: fixed;
  left: -290px;
  top: 82px;
  background: rgba(255, 255, 255, .97);
  width: 290px;
  padding: 1.875rem;
  height: 100%;
  z-index: 35;
  overflow: auto;
  padding-bottom: 5.125rem;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
.mobile--navactive.menu--active .nav--outerblk {
  left: 0;
}
.banner--slider .carousel__prev {
  display: none;
}
.banner--slider .carousel__next {
  display: none;
}
.banner--slider .carousel__pagination {
  position: absolute;
  bottom: 40px;
  width: 48%;
  justify-content: flex-end;
}
.banner--slider .carousel__pagination li {
  width: 10px;
  height: 10px;
  margin: 0 5px;
}
.banner--slider .carousel__pagination li .carousel__pagination-button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #FFFFFF;
  opacity: .5;
  outline: none;
}
.banner--slider .carousel__pagination li .carousel__pagination-button.carousel__pagination-button--active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #FFFFFF;
  opacity: 1;
}
.inner--slider {
  position: relative;
}
.inner--slider .carousel__prev,
.inner--slider .carousel__next {
  width: 48px;
  height: 48px;
  background: #FFFFFF;
  border-radius: 0;
  color: #000000;
  outline: none;
  opacity: 0;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
.inner--slider:hover .carousel__prev,
.inner--slider:hover .carousel__next {
  opacity: 1;
}
.inner--slider .carousel__next {
  right: 44px;
}
.inner--slider .carousel__prev {
  left: 44px;
}
.selectbox {
  position: relative;
}
.selectbox::before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -6px;
  right: 1rem;
  width: 0;
  height: 0;
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}
select {
  border: 1px solid #CCCCCC;
  border-radius: 0;
  -webkit-appearance: none;
  padding: 0.6875rem .5rem 0.6875rem 1.25rem;
  display: flex;
  background-color: white;
  outline: 0;
  cursor: pointer;
  appearance: none;
}

.text-fieldblock{
  border: 1px solid #FFFFFF;
  border-radius: 0;
  -webkit-appearance: none;
  padding: 0.6875rem .5rem 0.6875rem 1.25rem;
  display: flex; 
  outline: 0;
  cursor: pointer;
  appearance: none;
}
.textarea-fieldblock{
  border: 1px solid #FFFFFF;
  border-radius: 0;
  -webkit-appearance: none;
  padding: 0.6875rem .5rem 0.6875rem 1.25rem;
  display: flex; 
  outline: 0;
  cursor: pointer;
  appearance: none;
  height: 6rem;
  resize: none;
} 

.textarea-fieldblock::placeholder,
.text-fieldblock::placeholder {
  color: #404040!Important;
}
.textarea-fieldblock::-webkit-input-placeholder, /* Chrome */
  .text-fieldblock::-webkit-input-placeholder { /* Chrome */
  color: #404040!Important;
}
.textarea-fieldblock:-ms-input-placeholder, /* IE 10+ */
  .text-fieldblock:-ms-input-placeholder { /* IE 10+ */
  color: #404040!Important;
}
.textarea-fieldblock::-moz-placeholder, /* Firefox 19+ */
  .text-fieldblock::-moz-placeholder { /* Firefox 19+ */
  color: #404040!Important;
  opacity: 1;
}
.textarea-fieldblockk:-moz-placeholder, /* Firefox 4 - 18 */
  .text-fieldblock:-moz-placeholder { /* Firefox 4 - 18 */
  color: #404040!Important;
  opacity: 1;
}  
 

.inner--slider .carousel__pagination {
  position: absolute;
  bottom: 28px;
  width: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
.inner--slider:hover .carousel__pagination {
  opacity: 1;
}
.inner--slider .carousel__pagination li {
  width: 10px;
  height: 10px;
  margin: 0 5px;
}
.inner--slider .carousel__pagination li .carousel__pagination-button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #FFFFFF;
  opacity: .5;
  outline: none;
}
.inner--slider .carousel__pagination li .carousel__pagination-button.carousel__pagination-button--active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #FFFFFF;
  opacity: 1;
}
.inner--slider ul.details--block li {
  letter-spacing: .32px;
}

.inner--slider p{
  letter-spacing: .32px;
  line-height:1.6em;
}

.filter-container .selectbox select{ 
  padding-right: 44px;
}

.filter-container.inner-pagefilter  .selectbox select{
  padding-left: 0.9375rem;
}





.details-wrapper{
  width: 100%;
  height: auto;
  position: relative; 
}
 .details-wrapper::before{
  width: 100%;
  height: 393px;
  background: #F2F2F2;
  content:"";
  left:0;
  top:0;
  position: absolute;
  z-index: 1;
  
}  


.page-inner-wrapper{
  width: 100%;
  height: auto;
  position: relative; 
}

.inner-wrapper{
  position:relative;
  z-index: 10;
}
.sticky-block {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  background-color: white;
  padding:2.3125rem 2.5rem 2.5rem; 
  z-index:1000;
}

.sticky-block img{
  border:#e6e6e6 solid 1px;
}

.tabwrapper--block {  
  width: 100%;
  height: 40px;
}

.tab--navouter {
  position: -webkit-sticky;
  position: sticky;
  top: 0;  
  padding:0.5rem 0 ; 
  z-index:1000; 
  background:#FFFFFF; 
}

.tab--navouter.nav-sticktop { 
  background:#FFFFFF; 
  position: fixed;
}
.tab--navouter.nav-sticktop:before { 
  width: 1000%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;  
  left:  50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index:1 ; 
  background:#FFFFFF;
  box-shadow: 0 10px 20px rgba(0,0,0,0.10196078431372549);
} 

.tab--navouter ul{ 
  position: relative;
  z-index: 100;
}



.left-wrapper{
  width: 68%;
  max-width: 880px;
  padding-right: 1rem;
}

.right-wrapper{
  width:33%;
  max-width: 424px;
}

.tabnav--listing li a:before{
 width:100%;
 height: 2px;
 background:#000000;
 content:"";
 position: absolute;
 left:0;
 bottom:0;
 opacity:0;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
 
.tabnav--listing li.active--tab a:before{
  opacity:1; 
} 

.tabnav--listing li a:hover:before{
  opacity:1; 
} 

.tab--navouter.nav-sticktop li a:before{ 
  background:#B3B3B3; 
 }
   

.tabs-outerblock{
  width:100%;

}
.single--tabcontentblk{
  width:100%;
  height:auto;  
  padding-top:4.8125rem;
}
.single--tabcontentblk .main--titleblock span{    
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
.single--tabcontentblk.is-closed .main--titleblock span{   
-webkit-transform: rotate(180deg); 
-ms-transform: rotate(180deg); 
        transform: rotate(180deg); 
} 
.single--tabcontentblk.is-closed .main--contentblock{ 
  height:0;   
  overflow: hidden;
}
.single--tabcontentblk .main--titleblock{
  width:100%;
  height:auto;
  padding-bottom:0.375rem;  
  border-bottom:#f3f3f3 solid 2px;
  position:relative;
  cursor:pointer;
  text-transform:uppercase;
}



.single--tabcontentblk .main--contentblock ul li{
  position:relative;
  padding-left:10px;
    }
.single--tabcontentblk .main--contentblock ul li:before{
    width:2px;
    height:2px;
    content:"";
    background:#000000;
    position:absolute;
    border-radius:5px;
    left:0;
    top:15px;

    }

.single--tabcontentblk .main--contentblock ul.plan-discription{
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  padding-top:0.125rem;
}

.single--tabcontentblk .main--contentblock ul.plan-discription li{
  width:33.33%; 
  padding:0.5rem 0 0.25rem 0;
}
.single--tabcontentblk .main--contentblock ul.plan-discription li:before{
  display:none;
}
.single--tabcontentblk .main--contentblock ul.plan-discription li strong{
  width:100%; 
  float:left;
  padding:1.375rem 0 0.1875rem 0;
}
.single--tabcontentblk .main--contentblock ul.plan-discription li span{
  width:100%; 
  float:left;
}

.image-block{
  width: 100%; 
  height: 26.5rem;
  border: #000000 solid 1px;
  display: flex;
  align-items: center;
}
 
.download--btn{
  text-align: left;
  padding:1rem 1.25rem 1rem 3.3125rem;
  position: relative;
  text-decoration: none!important;
  border: #000 solid 1px;  
  background: #262626;
  font-family: "Univers LT 67 CondensedLt";
  font-size: 0.875rem;
  line-height: 1;  
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 0.044em;
  transition-duration: 300ms; 
}
   
.download--btn:hover{
  background:none;
  color: #000000;
  border: #000000 solid 1px;
}

.download--btn i{
  width: 18px;
  height: 24px;
  float: left;
  background:url('assets/images/pdf_icon.svg') no-repeat center center;
  background-size: 18px 24px;
  position: absolute;
  left: 1.25rem;
  top:0.6875rem;  
}
.download--btn:hover i{ 
  background:url('assets/images/pdf_icon_dark.svg') no-repeat center center;
  background-size: 18px 24px; 
}


.model-outercontainer{
  width: 100%;
  height: auto; 
  max-width: 1084px;
  display: flex;
  justify-content: space-between;
  z-index: 10000; 
  padding: 0;
  margin: 0 auto;
}

.left-formblock{
  width: 100%;
  max-width: 770px; 
}

.right-detailsblock{
  width: 100%;
  max-width: 314px;
}




.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.styled-checkbox + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 24px;
  height: 24px;
  background: white;
  border: 1px solid #000000;
  position: absolute;
  top:-41px;
} 
.styled-checkbox:checked + label:before {
  background: #FFFFFF;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
} 
/* .styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 7px;
  top: -30px;
  background: #b8b8b8;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 #000000, 4px 0 0 #000000, 4px -2px 0 #000000, 4px -4px 0 #000000, 4px -6px 0 #000000, 4px -8px 0 #000000;
  transform: rotate(45deg);
} */

.styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: -35px;
  width: 15px;
  height: 7px;
  border: #000000 solid 2px;
  border-top: 0; 
  border-right: 0;
  transform: rotate(-45deg);  
}


.close-button{
  width: auto;
  height: auto;
  position: absolute;
  right: 40px;
  top: 35px;
  font-size: 0.625rem;
  color: #808080;
  letter-spacing: 0.5px;
  line-height: 14px;
  font-family: 'Univers LT 57 Condensed';
  outline: none;;
}

.close-button i{
  width: 13px;
  height: 13px; 
  float: right;
  background: url('assets/images/nav_icon_close.svg') no-repeat center center;
  background-size: 13px 13px;
  opacity: .5;
  margin-left: 20px;
}









.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
}
.modal__backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5019607843137255);
  z-index: 1;
}
.modal__dialog {
  position: relative;
  width: 100%;  
  margin:0 auto;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
@media screen and (max-width: 992px) {
  .modal__dialog {
    width: 85.5%;
 }
}
.modal__close {
  width: 30px;
  height: 30px;
}
.modal__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; 
}
.modal__body {
  padding: 1.875rem;
  overflow: auto;
  display: flex;  
  justify-content: center;
} 

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.model-outercontainer select:invalid {
  color: #404040!important;
}

.model-outercontainer select option {
  color: #fff;
}

.model-outercontainer select option[value=""] {
  color: #404040!important;
}

.swal2-styled.swal2-confirm{
  background: #262626!important;
  border-radius: 0!important; 
  font-family: 'Univers LT 67 CondensedLt';
  font-size: 0.875rem;
  line-height: 1; 
  padding: 1rem; 
  text-transform: uppercase;
  letter-spacing: 0.044em;
  transition-duration: 300ms;
  transition-delay: 150ms;
  min-width: 150px;
  outline: none!important;
}

@media only screen and (max-width: 1299px) {
  .left-wrapper{ width: 66%;} 
  .right-wrapper{width:35%;}  
  .details-wrapper{ padding: 0 1.25rem;}  
  .page-inner-wrapper { padding-left:1.25rem; padding-right:1.25rem;}  
  .details--title{font-size: 1.8752rem; line-height: 1.875rem;}
  .sticky-block{padding:1.25rem;}
}
@media only screen and (max-width: 992px) { 
  .single--tabcontentblk .main--contentblock ul.plan-discription li{ width:50%; }
  .map--outer{height:21.875rem}
  .map--outer iframe{height:21.875rem}
  .image-block{height: 21.875rem;} 
}

@media only screen and (max-width: 767px) {
  .inner--slider .carousel__prev,
  .inner--slider .carousel__next {  display: none; } 
  .details-wrapper{ padding: 0 1.875rem;} 
  .page-inner-wrapper { padding-left:1.875rem; padding-right:1.875rem;} 
  .details-wrapper:before {height: 300px;}
  .left-wrapper{width:100%; max-width: none; padding: 0;}  
  .right-wrapper{width:100%; max-width: none;} 
  .details--title{width: 100%;font-size: 1.5rem; line-height: 1.875rem;}
  .sticky-block {position: relative; top:0;}  
  .single--tabcontentblk .main--contentblock ul.plan-discription li{ width:100%; }
  .tab--navouter { padding:0;position: relative; }  
  .tab--navouter.nav-sticktop:before { display: none;} 
  .single--tabcontentblk .main--contentblock ul.plan-discription li strong{padding:0;width:50%;font-size:0.875rem;}
  .single--tabcontentblk .main--contentblock ul.plan-discription li span{padding:0;width:50%;font-size:0.875rem;}
  .single--tabcontentblk .main--contentblock ul li:before{top:10px;}  
  .single--tabcontentblk{padding-top:.7rem;}
  .image-block{height: auto; justify-content: center;} 
  .tab--navouter.nav-sticktop{position: relative;}
  .model-outercontainer{flex-direction: column;}
  .left-formblock{ max-width: none; }
  .right-detailsblock{ max-width: none; }
  .styled-checkbox + label:before {top: 0; position: static;}
  .styled-checkbox:checked + label:after {top: 10px; }
  .close-button{top: 20px; color: #FFFFFF;} 
  .close-button i{  width: 10px; height: 10px; background: url('assets/images/close-icon.svg') no-repeat center center; background-size: 10px 10px; opacity: 1; position: relative; top: 3px; } 
  .tabwrapper--block {height: auto;}
}

@media only screen and (max-width: 639px) {
  .close-button{
    right: 20px;
  }
}
