<template>
    <span class="font-nav text-txtgray">Weitere Geschäftsbereiche:</span>
    <ul class="flex font-nav justify-start uppercase">
        <li class="md:px-2.5"><a href="#" v-on:click.stop.prevent class="hover:underline text-h5 md:text-10">Unterberger gruppe</a></li>
        <li class="md:px-2.5"><a href="#" v-on:click.stop.prevent class="hover:underline text-h5 md:text-10">Unterberger automobile</a></li>
        <li class="md:px-2.5"><a href="#" v-on:click.stop.prevent class="hover:underline text-h5 md:text-10">Immobilienmehrwert GmbH</a></li> 
    </ul>
</template>
<script>
	export default {
		name: "TopLeft"
	};
</script>