<template>
    <ul class="flex font-nav justify-start uppercase">
        <li>
            <a href="#" v-on:click.stop.prevent class="hover:underline flex items-center text-h5 md:text-10">
            <img class="w-3 mr-3 md:w-2.5 md:mr-1 top--icon" src="@/assets/images/heart_icon.svg" alt="icon"> 
            MERKLISTE 
        </a></li>
        <li class="pl-0 md:pl-4">
            <a href="#" v-on:click.stop.prevent class="hover:underline flex items-center text-h5 md:text-10">
            <img class="w-3 mr-3 md:w-2.5 md:mr-1 top--icon" src="@/assets/images/logout_icon.svg" alt="icon"> 
            ANMELDEN
        </a></li>  
    </ul>  
</template>

<script>
    export default {
        name: "TopRight"
    };
</script>
